body {
    font: 15px/1.5 'Open Sans', Roboto;
    padding: 0;
    margin: 0;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}


#heading h1 {
    font-size: 90px;
    font-weight: 10px;
    text-align: center;
    color: #051E34;
    margin-top: 20px;
    /*font-size: 28px;*/
    margin-bottom: 20px;
}

#graph .container canvas{
    max-height: 300px;
    background: #ECEFF3;
}

#graph h2{
  font-weight: 5px;
  text-align: center;  
}

#patients .container{
    text-align: center;
    min-height: 600px;
}

#patients button{
    display: inline-block;
    min-width: 400px;
    margin: 10px;
}

#bottom-patient .container{
    margin-top: 10px;
    text-align: center;
}

#prev_records{
    margin-top: 50px;
}

#prev_records h2{
    font-weight: 5px;
    text-align: center;
}