/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*Global */
html{
	height: 100vh;
}
body{
	font:15px/1.5
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
  	min-height: 100vh;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*header*/
header{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Poppins', sans-serif;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

/*main-content*/
#main-content{
	background: #EBEFF2;
	flex: 1;
}
#main-content .content-heading{
	margin-top: 20%;
}

#main-content .content-section{
	margin: 8%;
}

#main-content h2{
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

#main-content .content-heading p{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
#main-content .content-section p{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#main-content a{
	flex: 1;
	font-family: 'Poppins', sans-serif;
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}

.analytics-wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    max-width: 250px;
    height: 100vh;
    /*position: fixed;*/
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    background: #F0F0F0;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
	text-align: center;
	margin-top: 20px;
  padding-top: 40px;
}


#sidebar ul.components {
	padding: 0px 0;
}

#sidebar ul li a {

  padding: 40px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li:hover {
	/*min-height: 100px;*/
  color: #ffffff;
  background: #202529;
  /*border-radius: 20px*/
}

.container-fluid{
	padding: 0px,50px,50px,50px;
	width: 100vw;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

table.dataTable {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate {
	flex-wrap: wrap;
  display: none;
  /*min-width: 1.5em;*/
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
  max-width: 750px;
}

#analytics-content{
	width: 100vw;
}

#repsChart{
	max-height: 400px;
}
#readingsChart{
	max-height: 400px;
}
/*footer*/
footer{
	height: 10vh;
	bottom: 0;
	width: 100%;
}

footer a{
	text-decoration: none;
}