/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Global */
body{
	font:15px/1.5
	padding: 0;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 10px;
}

/*header*/
header{
	font-family: 'Montserrat', sans-serif;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

/*main-content*/
#main-content{
	background: #EBEFF2;
	min-height: 1000px;
}
#main-content .content-heading{
	margin-top: 20%;
}

#main-content h2{
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

#main-content p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#main-content a{
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}
/*footer*/
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a{
	text-decoration: none;
}