/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Global */
html{
	height: 100vh;
}
body{
	font:15px/1.5
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
  min-height: 100vh;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*header*/
header{
	font-family: 'Montserrat', sans-serif;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

/*main-content*/
#main-content{
	background: #EBEFF2;
	flex: 1;
}
#main-content .content-heading{
	margin-top: 20%;
}

#main-content h2{
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

#main-content p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#main-content a{
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}
#no_container_main_content{
	flex: 1;
}

.sidebar {
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 10px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  top: 0;
  height: calc(100vh - 10px);/*Height of the navbar*/
  padding-top: .5rem;
}

.sidebar .nav-link {
	padding: 40px;
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#analytics {
	
}
/*footer*/
footer{
	height: 10vh;
	bottom: 0;
	width: 100%;
}

footer a{
	text-decoration: none;
}

